html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body {
  background-image: linear-gradient(
    to left bottom,
    #1bbdb8,
    #25c3b5,
    #33c9b2,
    #42cfad,
    #52d5a8,
    #64dba1,
    #77e09a,
    #8ae593,
    #a4eb89,
    #bff17f,
    #dcf577,
    #f9f871
  );
  background-attachment: fixed;
}
